<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="es">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/vendor.css">
    <link rel="stylesheet" href="../../css/main.css">

    <!-- script
    ================================================== -->
    <script src="../../js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../favicon.png" type="image/x-icon">
    <link rel="icon" href="../../favicon.png" type="image/x-icon">

</head>

<body id="top">
     <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="../../images/logo.png" alt="Homepage">
            </a>
        </div>
    </header>
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll"  data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div id = "prime" class = "s-home target-section">

                <div>
                    <h1 style="color:white; position: absolute; width: 100%; margin:auto; text-align: center; top: 100px;"><%= title%></h1>
                </div>

                <div class="Demo">

                    <div id="app"></div>

                </div>
                <!-- end home-content -->
        </div>

    </section> <!-- end s-home -->

    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">

                <div class="footer-logo"></div>
                BeitLab es una marca registrada en Bogotá Colombia. Todos los derechos reservados.
<br>
                <div class="col-full tab-full left footer-desc">
                    <a href="">Terminos y condiciones</a><br>
                    <a href="">Información legal</a><br>
                    <a href="">Otra cosa ahi</a><br>
                </div>
            </div>

            <div class="col-six tab-full right footer-subscribe">

                <h4>¿Te gusta? Envianos un mensaje</h4>
                <p>Envianos un mensaje si quieres saber más acerca de soluciones COMPUTER VISION de BeitLab</p>

                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div>

            </div>

        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright BeitLab 2019</span> 
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->



    <!-- scripts -->
    <!-- Java Script
    ================================================== -->
    <script src="js/bundle.js"></script>
</body>
</html>