/* -------------------------------------------------------------------
 * ## header logo
 * ------------------------------------------------------------------- */
 .header-logo {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 501;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */
 @media only screen and (max-width: 600px) {
    .s-header {
        height: 90px;
    }
    .header-logo {
        left: 30px;
    }
    .header-menu-toggle {
        right: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .header-menu-text {
        display: none;
    }
}

/* ===================================================================
 * # base
 *
 * ------------------------------------------------------------------- */

.s-base {
    width: 100%;
    height: 100%;
    /*min-height: 900px;*/
    /*max-height: 786px;*/
    border: 2px dashed steelblue;
    padding: 2em;
    margin: 5em auto;
    background-color: transparent;
    position: relative;
    display: table;
}

.s-base .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.s-base .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: #000000;
}

.base-content__main {
    padding-top: 12rem;
    position: relative;
}